# Local app settings
DB_HOST=localhost
DB_NAME=ehealth_db
DB_USER=root
DB_PASS=

# Twilio
TWILIO_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE=
TWILIO_MESSAGING_SID=

# Whereby video calling
WHEREBY_API_KEY=
WHEREBY_API_URL=https://api.whereby.dev/v1
